div(class="ui-body ui-body-b")
   center
      div(style="font-family: mill;") #{venue.venue.name}
      div(class="fs_icon_holder")
         img(src="#{venue.venue.categories[0].icon}", class="dropshadow_white")
      div
         #{venue.venue.location.address} #{venue.venue.location.crossStreet}, #{venue.venue.location.city} #{venue.venue.location.state}

   div
        - multipliers.forEach(function(mult) {
        div(data-role="collapsible", data-collapsed="true")
           h3 
              img(src='#{mult.photo + "_32x32.png"}', class="small_photo")
              #{mult.name} ($#{mult.cost})
           div
              img(src='#{mult.photo + "_64x64.png"}', class="big_photo")
              span(class="green_border rounded") 
                 #{mult.mini_desc}
              div(class="generic_text") #{mult.desc}
                - if (mult.id==="facebook_shop") {
                    a(href="#{facebookPostUrl}", data-role="button", class="inline_button") Post to Facebook
                - }else if (mult.id==="twitter_shop") {
                    a(href="#{twitterPostUrl}, data-role="button") Post to Twitter
                - }else {
                     form(action="venue/#{venue.venue.id}/buy_multiplier", method="post", data-ajax="false")
                        input(type="hidden", value="#{mult.id}", name="mult_id")
                        input(type="submit", value="Purchase for $#{mult.cost}")                
                - }
                
        - })