mixin show_active_mults(venue, multipliers)
		div(class="ui-body-e rounded")
				- multipliers.forEach(function(v_multi){
				div
						img(src='#{v_multi.photo + "_32x32.png"}', class="small_photo")
						span(class="green_border") #{v_multi.mini_desc}
						a(href="/venue/delete/#{venue.id}/mult/#{v_multi.id}", data-rel="dialog", data-role="button", data-icon="delete", data-iconpos="notext", data-inline="true")
				- })

mixin show_available_mults(owned_mults)
		-if (owned_mults.length < 2 && isSelf) {
		div
				div(data-role="collapsible", data-theme="a", data-collapsed="false")
						h1 Buy Enhancements
						p You can add custom items to your properties. These items can add value to you property and increase you daily paycheck!
						- multipliers.forEach(function(mult) {
						div(data-role="collapsible", data-collapsed="true")
								h3
										img(src='#{mult.photo + "_32x32.png"}', class="small_photo")
										#{mult.name} ($#{mult.cost})
								div
										img(src='#{mult.photo + "_64x64.png"}', class="big_photo")
										span(class="green_border rounded")
												#{mult.mini_desc}
										div(class="generic_text") #{mult.desc}
												- if (mult.id==="facebook_shop") {
														a(href="#{facebookPostUrl}", data-role="button", class="inline_button") Post to Facebook
												- }else if (mult.id==="twitter_shop") {
														div(style="padding-bottom: 10px;")
																input(type="hidden", value="#{venue.venue.id}", name="venue_id", id="venue_id")
														a(href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.fourmillionaire.com&text=Come%20play%20Fourmillionaire%20with%20me!", class="twitter-share-button", data-url="http://www.fourmillionaire.com", data-text="I'm playing Fourmillionaire!", data-count="none")
															Tweet
														script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
												- }else {
														form(action="/venue/#{venue.venue.id}/buy_multiplier", method="post", data-ajax="false")
																input(type="hidden", value="#{mult.id}", name="mult_id")
																input(type="submit", value="Purchase for $#{mult.cost}")
												- }
						- })
		- }

div(class="ui-body ui-body-b")
		center
				div(style="font-family: mill;") #{venue.venue.name}
				div(class="fs_icon_holder")
						img(src="#{venue.venue.categories[0].icon}", class="dropshadow_white")
				div(class="venue_info")
						div(class="big_money")
								span Rent: $#{Venue.rent(venue)}
								- var v_multipliers = venue.multipliers || [];
						- if (v_multipliers.length > 0) {
						mixin show_active_mults(venue.venue, v_multipliers)
						- }
				mixin show_available_mults(v_multipliers)
				div
					a(href="/venue/sell/#{venue.venue.id}", data-rel="dialog", data-role="button", data-icon="back", data-theme="a") Sell Venue ($#{venue.value})



